*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #7a7777;
    color: white;
}

#images{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    
}
#caption{
    
    /* background-color: green; */
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}
#allimages{
    gap: 10px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#images img{
    width: 400px;
    height: 70vh;
    background-position: cover;
    border: 2px solid cyan;
    border-radius: 10px;
    background-color: #a58888;
}

#allimages::-webkit-scrollbar{
    display: none;
}



footer a{
    margin-top: 25px;
    color: aliceblue;
    text-decoration: none;
}