*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;

}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
#main1{
    width: 100%;
    height: 100%;
    background-color: #000000dc;
    position: relative;
}


#nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}

/* nav position fixed start */
#nav {
    position: fixed;
    z-index: 99;
}

#nav nav{
    position: fixed;
    right: 2%;
    z-index: 99;
}


/* nav position fixed end */

a{
    text-decoration: none;
}

#nav h1{
    text-transform: uppercase;
}

nav ul{
    display: flex;
    gap: 15px;
}
ul li{
    list-style-type: none;
    text-transform: uppercase;
}
ul li:hover{
    cursor: pointer;
}



.center{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.center>h1{ 
    line-height: 110px;
}   
.center h1:nth-child(1){
    font-size: 120px;
    margin-left: 0px;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 14%;
    z-index: 99;
}
.center h1:nth-child(2){
    font-size: 120px;
    text-transform: uppercase;
    position: absolute;
    top: 37%;
    left: 30%;
    z-index: 99;
}
.center h1:nth-child(3){
    font-size: 120px;
    text-transform: uppercase;
    position: absolute;
    top: 52%;
    left: 41%;
    z-index: 99;
}

.center img{
    height: 400px;
    position: absolute;

}
.center img:nth-child(4){
    rotate: 30deg;
}
.center img:nth-child(5){
    rotate:15deg
}
.center img:nth-child(6){
    rotate:300deg
}
.center img:nth-child(7){
    rotate:0deg
}

.footer ul{
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
}

/* ---------------------------------------------- */


#main2{
    width: 100%;
    height: 100%;
    background-color: #000000dc;
    position: relative;
}

.center2{
    height: 85%;
    width: 100%;
    /* background-color: green; */
    border-bottom: 0.5px solid rgb(79, 72, 72);
    
}


.center2 .cards{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: end;
    gap: 18px;
    white-space: nowrap;
    padding: 0 15px;
    overflow-x: auto;
}

.cards::-webkit-scrollbar{
    display: none;
}

#card1 ,#card2,#card3,#card4,#card5,#card6,#card7,#card8{
    width: 700px;
    height: 430px;
    /* background-color: yellow; */
    text-align: center;
}

.cards h5{
    text-transform: capitalize;
}

.center2 .cards img{
    width: 320px;
    height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.center2 .leftrightbtn{

    width: 100%;
    display: flex;
    justify-content: end;
    /* background-color: #16f0a7; */
    gap: 15px;
    padding: 0 19px;
    
}

.center2 .leftrightbtn #leftarrow , #rightarrow{
    border: 1px solid white;
    padding: 10px;
    font-size: 22px;
    border-radius: 50%;
}


#footer2{
    height: 15%;
    /* background-color: red; */
    padding: 0 15px;
}

#footer2 ul{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#footer2 ul li{
    font-size: 80px;
    text-transform: uppercase;
}










::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    
    background-color: #8b8787;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(168, 93, 46);
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(252, 105, 0);
}